.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.todolistItem {
  background-color: #e3e3df;
  border: 3px solid #a4a4a2;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
}
